﻿@model Team

@section CSS {
    <style>
        .card-header {
            position: relative;
            height: 256px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            color: #FFFFFF;
        }

        .card .card-header.light {
            color: #000000;
        }

        .card .card-header .card-left {
              position: absolute;
              bottom: 0;
              left: 0;
              padding: 20px;
        }

        .card .card-header .card-title {
            color: #FFFFFF;
        }

        .card .card-header.light .card-title {
            color: #000000;
        }

        .card .card-header .card-right {
              position: absolute;
              bottom: 0;
              right: 0;
              padding: 20px;
        }

        .card .card-header .card-avatar {
            margin: 10px 0;
            height: 150px;
            width: 150px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-clip: padding-box;
        }

        .btnEdit::-webkit-file-upload-button {
            display: none;
            opacity: 0;
        }

        .btnEdit {
            color: transparent;
            width: 2.5em;
            height: 2.5em;
            content: '';
            overflow: hidden;
            padding: 12px;
        }

        .btnEdit:focus {
            outline: 0;
        }

        .btnEdit::before {
            color: white;
            content:"\f040";
        }

        .overlay {
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;
        }

        .collection li {
            width: 100%;
        }

        .collection .collection-item.avatar {
            min-height: 64px;
        }

        .collection .collection-item.avatar .title {
            font-size: 18px;
        }

        .collection .collection-item.avatar .title.middle{
            line-height: 42px;
        }

        .mdl-card__title-text {
            -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
            align-self: flex-start;
        }
    </style>
}

@section JavaScript {
    <script>
        window.model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model == null ? new Team() { Id = Guid.Empty } : Model).Replace("</script>", "<\\/script>"));
        window.activeRoster = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Members.Select(e => e.Id)));

        window.updateModel = function()
        {
            window.model.Name = $('#TeamName').text();
            window.model.PublicId = $('#TeamPublicId').val();
            window.model.ShortName = $('#TeamShortName').val();
            window.model.Game = $('#TeamGame').val();
            window.model.Division = $('#TeamDivision').val();

            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(window.model),
                dataType: 'json',
                processData: false,
                type: 'POST',
                url: '/api/v1/team/' + window.model.Id + '/',
                success: function(r)
                {
                    if(r.success)
                    {
                        window.model = r.response;

                        $.ajax({
                            contentType: 'application/json',
                            data: JSON.stringify(window.activeRoster),
                            dataType: 'json',
                            processData: false,
                            type: 'POST',
                            url: '/api/v1/team/' + window.model.Id + '/members/',
                            success: function(r1)
                            {
                                if(r1.success)
                                    window.location = "/manage/team/list/";
                                else
                                    alert(r.error);
                            }
                        });
                    }
                    else
                        alert(r.error);
                }
            });
        }

        window.prefillCreateMember = function()
        {
            var q = $('#txtMemberSearch').val();

            $('#txtProfileId').val(q).next().addClass("active");
            $('#txtProfileName').val(q).next().addClass("active");
            $('#txtEmail').val(q + "@@pro.steamlobby.com").next().addClass("active");
        }

        window.createMember = function()
        {
            var member = window.dynamiclass.new("Member");
            member.Id = "00000000-0000-0000-0000-000000000000";
            member.ProfileId = $('#txtProfileId').val();
            member.ProfileName = $('#txtProfileName').val();
            member.Email = $('#txtEmail').val();
            member.ProfileAvatarUrl = $('#imgProfileAvatar').attr("src");
           
            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(member),
                dataType: 'json',
                processData: false,
                type: 'POST',
                url: '/api/v1/member/',
                success: function(r)
                {
                    if(r.success)
                    {
                        $('#txtProfileId').val('');
                        $('#txtProfileName').val('');
                        $('#txtEmail').val('');
                        $('#imgProfileAvatar').attr("src", '/images/profile/1.png');

                        member = r.response;
                        window.addMemberToRoster(member);
                    }
                    else
                        alert(r.error);
                }
            });
        }

        window.addMemberToRoster = function(member)
        {
            window.activeRoster.push(member.Id);
            $("#activeRoster").append('<li data-id="' + member.Id + '" class="collection-item avatar"><img src="' + (member.ProfileAvatarUrl || "/images/profile/1.png") + '" alt="" class="circle"><span class="title middle">' + member.ProfileName + '</span><a class="secondary-content red-text" onclick="window.removeMemberFromRoster(\'' + member.Id + '\')"><i class="material-icons">close</i></a></li>');
            $('#memberSelectModal').closeModal();
            $('#memberCreateModal').closeModal();
        }

        window.removeMemberFromRoster = function(memberId)
        {
            window.activeRoster.remove(memberId);
            $("#activeRoster li[data-id='" + memberId + "']").remove();
        }

        function uploadImage(file, uploadComplete, progress)
        {
            uploadComplete = uploadComplete || function() { };
            progress = progress || function() { };
            var fileReader = new FileReader();
            fileReader.onload = function(e)
            {
                var xmlRequest = $.ajax({
                    xhr: function()
                    {
                        var xhr = new window.XMLHttpRequest();

                        xhr.upload.addEventListener("progress", function(evt)
                        {
                            if (evt.lengthComputable)
                                progress(evt.loaded / evt.total);
                        }, false);

                        return xhr;
                    },
                    url: "/api/v1/upload/image/",
                    method: "POST",
                    processData: false,
                    data: e.target.result,
                    contentType: file.type,

                    success: function(response)
                    {
                        uploadComplete(response);
                        progress(1);
                    }
                });
            };
            fileReader.readAsArrayBuffer(file);
        }

        function uploadImageUrl(url, uploadComplete, progress)
        {
            uploadComplete = uploadComplete || function() { };
            progress = progress || function() { };
            var xmlRequest = $.ajax({
                xhr: function()
                {
                    var xhr = new window.XMLHttpRequest();

                    xhr.upload.addEventListener("progress", function(evt)
                    {
                        if (evt.lengthComputable)
                            progress(evt.loaded / evt.total);
                    }, false);

                    return xhr;
                },
                url: "/api/v1/upload/image/",
                method: "POST",
                data: { url: url },

                success: function(response)
                {
                    uploadComplete(response);
                    progress(1);
                }
            });
        }

        function updateHeaderUrl(headerUrl)
        {
            $('#TeamHeader').css('background-image', 'url(' + headerUrl + ')');
            window.model.HeaderUrl = headerUrl;
        }
        function updateLogoUrl(logoUrl)
        {
            $('#TeamLogo').css('background-image', 'url(' + logoUrl + ')');
            window.model.LogoUrl = logoUrl;
        }

        var header = document.getElementById('TeamHeader');
        var logo = document.getElementById('TeamLogo');
        //var headerEditButton = document.getElementById('btnEditHeader');
        //btnEditHeader.addEventListener('change', function(e)
        //{
        //    var file = e.target.files[0];
        //    uploadImage(file, function(response) { if (response.success) { updateHeaderUrl(response.response.imageUrl); } });
        //}, false);
        logo.addEventListener('dragover', function(e)
        {
            e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect = 'copy';
            $('#TeamLogoOverlay').css("opacity", .5);
        }, false);
        logo.addEventListener('dragleave', function(e)
        {
            e.stopPropagation();
            e.preventDefault();
            $('#TeamLogoOverlay').css("opacity", 0);
        }, false);
        logo.addEventListener('drop', function(e)
        {
            e.stopPropagation();
            e.preventDefault();
            $('#TeamLogoOverlay').css("opacity", 0);

            var transferItem = e.dataTransfer.items[0];
            if (transferItem.kind == "file")
                uploadImage(transferItem.getAsFile(), function(response) { if (response.success) { updateLogoUrl(response.response.imageUrl); } });
            else
                transferItem.getAsString(function(url) { uploadImageUrl(url, function(response) { if (response.success) { updateLogoUrl(response.response.imageUrl); } }) });

        }, false);
        header.addEventListener('dragover', function(e)
        {
            e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect = 'copy';
            $('#TeamHeaderOverlay').css("opacity", .5);
        }, false);
        header.addEventListener('dragleave', function(e)
        {
            e.stopPropagation();
            e.preventDefault();
            $('#TeamHeaderOverlay').css("opacity", 0);
        }, false);
        header.addEventListener('drop', function(e)
        {
            e.stopPropagation();
            e.preventDefault();
            $('#TeamHeaderOverlay').css("opacity", 0);

            var transferItem = e.dataTransfer.items[0];
            if (transferItem.kind == "file")
                uploadImage(transferItem.getAsFile(), function(response) { if (response.success) { updateHeaderUrl(response.response.imageUrl); } });
            else
                transferItem.getAsString(function(url) { uploadImageUrl(url, function(response) { if (response.success) { updateHeaderUrl(response.response.imageUrl); } }) });

        }, false);

        $('#TeamName').change(function()
        {
            $('#TeamPublicId').val($(this).val().toLowerCase().replace(" ", "_") + "_" + $('#TeamGame').val().toLowerCase());
            $('#TeamShortName').val($(this).val().split(" ")[0]);
        });

        $('#TeamGame').change(function()
        {
            $('#TeamPublicId').val($('#TeamName').val().toLowerCase().replace(" ", "_") + "_" + $(this).val().toLowerCase());
        });

        $(document).ready(function(){
            $('.modal-trigger').leanModal();
        });

        memberElements = {};
        $('#txtMemberSearch').keyup(function(e)
        {
            var q = $(this).val();
            $('#txtMemberName').text(q);

            if(!q.trim())
            {
                var memberSearchResults = document.getElementById("memberSearchResults");
                while (memberSearchResults.firstChild)
                    memberSearchResults.removeChild(memberSearchResults.firstChild);

                return;
            }

            $.get("/api/v1/search/member/", { q: q }, function(r)
            {
                if(r.success)
                {
                    var memberSearchResults = document.getElementById("memberSearchResults");
                    while (memberSearchResults.firstChild)
                        memberSearchResults.removeChild(memberSearchResults.firstChild);

                    for(var index = 0; index < r.response.length; index++)
                    {
                        var member = r.response[index];
                        var memberElement = window.memberElements[member.Id];

                        if(!memberElement)
                        {
                            memberElement = document.createElement("li");
                            memberElement.classList.add("collection-item");
                            memberElement.classList.add("avatar");
                            memberElement.classList.add("clickable");
                            memberElement.classList.add("waves-effect");
                            memberElement.setAttribute("data-id", member.Id);
                            memberElement.setAttribute("data-member", JSON.stringify(member));

                            memberElement.onclick = function(){ window.addMemberToRoster(JSON.parse(this.getAttribute("data-member"))); };

                            var profileImage = document.createElement("img");
                            profileImage.src = member.ProfileAvatarUrl || "/images/profile/1.png";
                            profileImage.classList.add("circle");

                            var title = document.createElement("span");
                            title.innerText = member.ProfileId;
                            title.classList.add("title");

                            var desc = document.createElement("div");
                            desc.innerText = member.ProfileName;

                            memberElement.appendChild(profileImage);
                            memberElement.appendChild(title);
                            memberElement.appendChild(desc);

                            memberElements[member.ProfileId] = memberElement;
                        }

                        memberSearchResults.appendChild(memberElement);
                    }
                }
            });
        });

    </script>
}

@*@section Modals
{
    <div id="memberSelectModal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Add Member</h4>
            <input id="txtMemberSearch" type="text" placeholder="Search Members..." />
            <p>
                <ul class="collection">
                    <li onclick="$('#memberSelectModal').closeModal();$('#memberCreateModal').openModal();window.prefillCreateMember();" class="collection-item avatar waves-effect">
                        <i class="material-icons circle">add</i>
                        <span class="title">New Member</span>
                        <div>Create a new member for <span id="txtMemberName"></span></div>
                    </li>
                    <content id="memberSearchResults"></content>
                </ul>
            </p>
        </div>
    </div>

    <div id="memberCreateModal" class="modal">
        <div class="modal-content">
            <h4>New Member</h4>
            <p>
                <div class="row">
                    <div class="col s12 l4 center-align">
                        <img id="imgProfileAvatar" src="/images/profile/1.png" />
                    </div>
                    <div class="input-field col s12 l4">
                        <input id="txtProfileId" type="text" />
                        <label for="txtProfileId">Profile Id</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <input id="txtProfileName" type="text" />
                        <label for="txtProfileName">Profile Name</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <input id="txtEmail" type="text" />
                        <label for="txtEmail">Email</label>
                    </div>
                </div>
            </p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" onclick="window.createMember();">Create</a>
        </div>
    </div>
}*@

<div class="mdl-card mdl-shadow--2dp full" style="max-width: 1000px; margin: 16px auto;">
    <div id="TeamHeader" class="card-header mdl-card__title mdl-color-text--white" style="height: 225px; background-image: url(@Model.HeaderUrl.Or("/images/defaultheader.jpg"));">
        <div id="TeamHeaderOverlay" class="overlay" style="position: absolute; top: 0; left: 0; height: 200px;"></div>
        <div class="flex vertical start" style="height: 100%;">
            <div id="TeamLogo" class="card-avatar circle" style="width: 150px; height: 150px; background-image: url(@Model.LogoUrl.Or("/images/defaultteamlogo.jpg"))">
                <div id="TeamLogoOverlay" class="overlay circle"></div>
            </div>
            <div class="fill"></div>
            <h2 id="TeamName" class="mdl-card__title-text" style="min-width: 100px;" contenteditable="true">@Model.Name</h2>
        </div>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="input-field col s12 m6 l3">
                <input id="TeamPublicId" type="text" value="@Model.PublicId" />
                <label for="TeamPublicId">Public Id</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input id="TeamShortName" type="text" value="@Model.ShortName" />
                <label for="TeamShortName">Short Name</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input id="TeamGame" type="text" value="@Model.Game" />
                <label for="TeamGame">Game</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input id="TeamDivision" type="text" value="@Model.Division" />
                <label for="TeamDivision">Division</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <h5 style="display: inline-block;">Active Roster</h5>
                <a style="float: right; margin: 0.82rem 0 0.656rem 0;" class="modal-trigger" href="#memberSelectModal"><i class="material-icons green-text">add</i></a>
                <ul id="activeRoster" class="collection" style="display: block;">
                    @foreach (var member in Model.Members)
                    {
                    <li data-id="@member.Id" class="collection-item avatar">
                        <img src="@member.ProfileAvatarUrl.Or("/images/profile/1.png")" alt="" class="circle">
                        <span class="title">@member.ProfileId</span>
                        <p>@member.ProfileName</p>
                        <a class="secondary-content red-text" onclick="window.removeMemberFromRoster('@member.Id');"><i class="material-icons">close</i></a>
                    </li>
                    }
                </ul>
            </div>
            <div class="col s12 l6">

            </div>
        </div>
    </div>
    <div class="card-action">
        <a onclick="window.updateModel();" class="waves-effect btn-flat blue-text right">Save</a>
        <a onclick="window.location = '/manage/team/list/';" class="waves-effect btn-flat grey-text right">Discard</a>
        <div class="clearfix"></div>
    </div>
</div>