﻿@model Team

@section CSS {
    <style>
        .card .card-header {
            position: relative;
            height: 256px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #FFFFFF;
        }

            .card .card-header.light {
                color: #000000;
            }

            .card .card-header .card-left {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 20px;
            }

            .card .card-header .card-title {
                color: #FFFFFF;
            }

            .card .card-header.light .card-title {
                color: #000000;
            }

            .card .card-header .card-right {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 20px;
            }

            .card .card-header .card-avatar {
                margin: 10px 0;
                height: 150px;
                width: 150px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-clip: padding-box;
            }

        .collapsible-header {
            min-height: 66px;
            padding-top: 5px;
        }

        .collection .collection-item.avatar {
            min-height: 64px;
        }

        .collection .collection-item.avatar .title {
            font-size: 18px;
        }
    </style>
}

<div class="card" style="max-width: 1000px; margin:  25px auto;">
    <div class="card-header" style="background-image: url(@Model.HeaderUrl.Or("/images/defaultheader.jpg"));">
        <div class="card-left">
            <div class="card-avatar circle" style="background-image: url(@Model.LogoUrl)">
            </div>
            <div class="card-title">@Model.Name</div>
        </div>
        <div class="card-right">
            <a class="waves-effect waves-circle waves-light"><i class="white-text fa fa-star"></i></a>
        </div>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col s12 m6">
                <h5 class="header">Active Roster</h5>
                <ul class="collection">
                    @foreach (var member in Model.Members)
                    {
                    <li class="collection-item avatar">
                        <img src="@member.ProfileAvatarUrl.Or("/images/profile/1.png")" alt="" class="circle">
                        <span class="title">@member.ProfileId</span>
                        <p>@member.ProfileName</p>
                        <a class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    }
                </ul>
            </div>
            <div class="col s12 m6">
                <h5 class="header">Upcoming Matches</h5>
                <ul class="z-depth-0 collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header waves-effect waves-block waves-dark">
                            <div class="row" style="padding: 5px; margin-bottom: 0;">
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/images/thumb/index.php?w=80&src=fileadmin/user_upload/pro-league/csgo/season-14-15/teamlogos/luminosity.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s2 center">vs</div>
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/fileadmin/user_upload/ESL_ONE/katowice-2015/logos/envy.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s4 center-align" style="padding:0;">16 Days</div>
                            </div>
                        </div>
                        <div class="collapsible-body center-align">
                            <h5>Luminosity Gaming vs EnVyUs</h5>
                            <blockquote>
                                <span style="font-weight: bold;">Biggest Event Ever</span><br />
                                July 28th 2015, TBD EST<br />
                                Best Of 1&nbsp;&nbsp; on &nbsp;&nbsp;Cache<br />
                            </blockquote>
                            <p><a href="#">Match Page</a>@*&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Replay</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Download Demo</a>*@</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header waves-effect waves-block waves-dark">
                            <div class="row" style="padding: 5px; margin-bottom: 0;">
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/images/thumb/index.php?w=80&src=fileadmin/user_upload/pro-league/csgo/season-14-15/teamlogos/luminosity.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s2 center">vs</div>
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/fileadmin/user_upload/ESL_ONE/katowice-2015/logos/envy.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s4 center-align" style="padding:0;">TBD</div>
                            </div>
                        </div>
                        <div class="collapsible-body center-align">
                            <h5>Cloud9 vs EnVyUs</h5>
                            <blockquote>
                                <span style="font-weight: bold;">ESL ESEA Pro League Finals</span><br />
                                July 2st 2015, TBD EST<br />
                                Best Of 1&nbsp;&nbsp;&nbsp;&nbsp;TBD<br />
                            </blockquote>
                            <p><a href="#">Match Page</a>@*&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Replay</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Download Demo</a>*@</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header waves-effect waves-block waves-dark">
                            <div class="row" style="padding: 5px; margin-bottom: 0;">
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/images/thumb/index.php?w=80&src=fileadmin/user_upload/pro-league/csgo/season-14-15/teamlogos/luminosity.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s2 center">vs</div>
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/fileadmin/user_upload/ESL_ONE/katowice-2015/logos/envy.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s4 center-align" style="padding:0;">TBD</div>
                            </div>
                        </div>
                        <div class="collapsible-body center-align">
                            <h5>Cloud9 vs EnVyUs</h5>
                            <blockquote>
                                <span style="font-weight: bold;">ESL ESEA Pro League Finals</span><br />
                                July 2st 2015, TBD EST<br />
                                Best Of 1&nbsp;&nbsp;&nbsp;&nbsp;TBD<br />
                            </blockquote>
                            <p><a href="#">Match Page</a>@*&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Replay</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Download Demo</a>*@</p>
                        </div>
                    </li>
                </ul>
                <h5 class="header">Recent Matches</h5>
                <ul class="z-depth-0 collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header waves-effect waves-block waves-dark">
                            <div class="row" style="padding: 5px; margin-bottom: 0;">
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/images/thumb/index.php?w=80&src=fileadmin/user_upload/pro-league/csgo/season-14-15/teamlogos/luminosity.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s2 center">vs</div>
                                <div class="col s3" style="padding:0; background-image: url(http://cdn2.esl.tv/fileadmin/user_upload/ESL_ONE/katowice-2015/logos/envy.png); background-size: contain; background-repeat: no-repeat; background-position: center;">&nbsp;</div>
                                <div class="col s4 center-align" style="padding:0;">2 - 0</div>
                            </div>
                        </div>
                        <div class="collapsible-body center-align">
                            <h5>Luminosity Gaming vs EnVyUs</h5>
                            <blockquote>
                                <span style="font-weight: bold;">Biggest Event Ever</span><br />
                                July 28th 2015, TBD EST<br />
                                Best Of 1&nbsp;&nbsp; on &nbsp;&nbsp;Cache<br />
                            </blockquote>
                            <p><a href="#">Match Page</a>@*&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Replay</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Download Demo</a>*@</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>