﻿@model Member
@inject RequestHelper RequestHelper

    @section CSS {
        <style>
            .card .card-header {
                position: relative;
                height: 256px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                color: #FFFFFF;
            }

                .card .card-header.light {
                    color: #000000;
                }

                .card .card-header .card-left {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 20px;
                }

                .card .card-header .card-title {
                    color: #FFFFFF;
                }

                .card .card-header.light .card-title {
                    color: #000000;
                }

                .card .card-header .card-right {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 20px;
                }

                .card .card-header .card-avatar {
                    margin: 10px 0;
                    height: 150px;
                    width: 150px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-clip: padding-box;
                }

            .btnEdit::-webkit-file-upload-button {
                display: none;
                opacity: 0;
            }

            .btnEdit {
                color: transparent;
                width: 2.5em;
                height: 2.5em;
                content: '';
                overflow: hidden;
                padding: 12px;
            }

                .btnEdit:focus {
                    outline: 0;
                }

                .btnEdit::before {
                    color: white;
                    content: "\f040";
                }

            .overlay {
                opacity: 0;
                width: 100%;
                height: 100%;
                background-color: #FFFFFF;
            }

            .collection li {
                width: 100%;
            }

            .collection .collection-item.avatar {
                min-height: 64px;
            }

                .collection .collection-item.avatar .title {
                    font-size: 18px;
                }

                    .collection .collection-item.avatar .title.middle {
                        line-height: 42px;
                    }
        </style>
    }

    @section JavaScript {
        <script>
            window.model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model == null ? new Member() { Id = Guid.Empty } : Model).Replace("</script>", "<\\/script>"));

            window.updateModel = function()
            {
                window.model.ProfileName = $('#ProfileName').val();
                window.model.Email = $('#Email').val();
                window.model.ProfileId = $('#ProfileId').val();
                window.model.ProfileCountry = $('#ProfileCountry').val();
                window.model.ProfileBirthday = $('#ProfileBirthday').val();
                window.model.ProfileAboutMe = $('#ProfileAboutMe').val();
                window.model.FormattedPermissions = $('#Permissions').val().split(",");

                $.ajax({
                    contentType: 'application/json',
                    data: JSON.stringify(window.model),
                    dataType: 'json',
                    processData: false,
                    type: 'POST',
                    url: '/api/v1/member/' + window.model.Id + '/',
                    success: function(r)
                    {
                        if(r.success)
                        {
                            window.location = "/manage/member/list/";
                        }
                        else
                            alert(r.error);
                    }
                });
            }

            function uploadImage(file, uploadComplete, progress)
            {
                uploadComplete = uploadComplete || function() { };
                progress = progress || function() { };
                var fileReader = new FileReader();
                fileReader.onload = function(e)
                {
                    var xmlRequest = $.ajax({
                        xhr: function()
                        {
                            var xhr = new window.XMLHttpRequest();

                            xhr.upload.addEventListener("progress", function(evt)
                            {
                                if (evt.lengthComputable)
                                    progress(evt.loaded / evt.total);
                            }, false);

                            return xhr;
                        },
                        url: "/api/v1/upload/image/",
                        method: "POST",
                        processData: false,
                        data: e.target.result,
                        contentType: file.type,

                        success: function(response)
                        {
                            uploadComplete(response);
                            progress(1);
                        }
                    });
                };
                fileReader.readAsArrayBuffer(file);
            }

            function uploadImageUrl(url, uploadComplete, progress)
            {
                uploadComplete = uploadComplete || function() { };
                progress = progress || function() { };
                var xmlRequest = $.ajax({
                    xhr: function()
                    {
                        var xhr = new window.XMLHttpRequest();

                        xhr.upload.addEventListener("progress", function(evt)
                        {
                            if (evt.lengthComputable)
                                progress(evt.loaded / evt.total);
                        }, false);

                        return xhr;
                    },
                    url: "/api/v1/upload/image/",
                    method: "POST",
                    data: { url: url },

                    success: function(response)
                    {
                        uploadComplete(response);
                        progress(1);
                    }
                });
            }

            function updateHeaderUrl(headerUrl)
            {
                $('#Header').css('background-image', 'url(' + headerUrl + ')');
                window.model.HeaderUrl = headerUrl;
            }
            function updateAvatarUrl(logoUrl)
            {
                $('#Avatar').css('background-image', 'url(' + logoUrl + ')');
                window.model.ProfileAvatarUrl = logoUrl;
            }

            var header = document.getElementById('Header');
            var avatar = document.getElementById('Avatar');
            var headerEditButton = document.getElementById('btnEditHeader');
            btnEditHeader.addEventListener('change', function(e)
            {
                var file = e.target.files[0];
                uploadImage(file, function(response) { if (response.success) { updateHeaderUrl(response.response.imageUrl); } });
            }, false);
            avatar.addEventListener('dragover', function(e)
            {
                e.stopPropagation();
                e.preventDefault();
                e.dataTransfer.dropEffect = 'copy';
                $('#AvatarOverlay').css("opacity", .5);
            }, false);
            avatar.addEventListener('dragleave', function(e)
            {
                e.stopPropagation();
                e.preventDefault();
                $('#AvatarOverlay').css("opacity", 0);
            }, false);
            avatar.addEventListener('drop', function(e)
            {
                e.stopPropagation();
                e.preventDefault();
                $('#AvatarOverlay').css("opacity", 0);

                var transferItem = e.dataTransfer.items[0];
                if (transferItem.kind == "file")
                    uploadImage(transferItem.getAsFile(), function(response) { if (response.success) { updateAvatarUrl(response.response.imageUrl); } });
                else
                    transferItem.getAsString(function(url) { uploadImageUrl(url, function(response) { if (response.success) { updateAvatarUrl(response.response.imageUrl); } }) });

            }, false);
            header.addEventListener('dragover', function(e)
            {
                e.stopPropagation();
                e.preventDefault();
                e.dataTransfer.dropEffect = 'copy';
                $('#HeaderOverlay').css("opacity", .5);
            }, false);
            header.addEventListener('dragleave', function(e)
            {
                e.stopPropagation();
                e.preventDefault();
                $('#HeaderOverlay').css("opacity", 0);
            }, false);
            header.addEventListener('drop', function(e)
            {
                e.stopPropagation();
                e.preventDefault();
                $('#HeaderOverlay').css("opacity", 0);

                var transferItem = e.dataTransfer.items[0];
                if (transferItem.kind == "file")
                    uploadImage(transferItem.getAsFile(), function(response) { if (response.success) { updateHeaderUrl(response.response.imageUrl); } });
                else
                    transferItem.getAsString(function(url) { uploadImageUrl(url, function(response) { if (response.success) { updateHeaderUrl(response.response.imageUrl); } }) });

            }, false);

            $(function()
            {
                //var minDate = new Date();
                //minDate.setFullYear(minDate.getFullYear() - 13);

                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 40//, // Creates a dropdown of 15 years to control year
                    //max: minDate
                });

                $('#Permissions').selectize({
                    delimiter: ',',
                    persist: false,
                    create: function(input) {
                        return {
                            value: input,
                            text: input
                        }
                    }
                });

                $('#ProfileCountry').selectize();
            });
        </script>
    }

    <div class="card full">
        <div id="Header" class="card-header" style="background-image: url(@Model.HeaderUrl.Or(Model.GetTeam() == null ? null : Model.GetTeam().HeaderUrl).Or("/images/defaultheader.jpg"));">
            <div id="HeaderOverlay" class="overlay" style="position: absolute; top: 0; left: 0;"></div>
            <div class="card-left">
                <div id="Avatar" class="card-avatar circle" style="background-image: url(@Model.ProfileAvatarUrl.Or("/images/profile/1.png"))">
                    <div id="AvatarOverlay" class="overlay circle"></div>
                </div>
                <input id="ProfileName" class="card-title" style="margin: 0;" type="text" value="@Model.ProfileName" placeholder="Team Name" />
            </div>
            <div class="card-right">
                <div class="waves-effect waves-circle waves-light">
                    <input id="btnEditHeader" class="fa btnEdit" type="file" />
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="input-field col s12 m6 l3">
                    <input id="Email" type="text" value="@Model.Email" />
                    <label for="Email">Email</label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input id="ProfileId" type="text" value="@Model.ProfileId" />
                    <label for="ProfileId">Profile Id</label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <!-- @Model.ProfileCountry -->
                    <select id="ProfileCountry">
                        @foreach(var country in Application.Constants.Countries)
                        {
                            <option value="@country" @if(country == Model.ProfileCountry) { <text>selected</text> }>@country</option>
                        }
                    </select>
                    <label for="_ProfileCountry">Country</label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input class="datepicker" id="ProfileBirthday" type="text" value="@Model.ProfileBirthday.ToString("d MMMM, yyyy")" />
                    <label for="ProfileBirthday">Birthday</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <textarea id="ProfileAboutMe" class="materialize-textarea">@Model.ProfileAboutMe</textarea>
                    <label for="ProfileAboutMe">About Me</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input id="Permissions" type="text" value="@Model.Permissions" />
                    <label for="_Permissions">Permissions</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <ul class="collection with-header">
                        <li class="collection-header"><h4>Sessions</h4></li>
                        @foreach (var session in RequestHelper.Database.Sessions.Where(e => e.MemberId == Model.Id && e.Expiration > DateTime.UtcNow))
                        {
                            <li class="collection-item"><div>@(session.ApiIdentifier == null ? "SteamLobby" : session.ApiIdentifier.Substring(0, 6)) - @session.KeyIdentifier.Substring(0, 6) - Expires: @session.Expiration.ToShortDateString()<a href="#!" class="secondary-content"><i class="material-icons">close</i></a></div></li>
                        }
                    </ul>
                </div>
                <div class="col s12 m6 l6">
                    <ul class="collection with-header">
                        <li class="collection-header"><h4>Passwords</h4></li>
                        @foreach (var password in RequestHelper.Database.PasswordHashes.Where(e => e.MemberId == Model.Id).OrderBy(e => e.Creation))
                        {
                            <li class="collection-item"><div>@("".PadRight(password.Length, '*')) - Created: @password.Creation.ToShortDateString()<a href="#!" class="secondary-content"><i class="material-icons">close</i></a></div></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-action">
            <a onclick="window.updateModel();" class="waves-effect btn-flat blue-text right">Save</a>
            <a onclick="window.location = '/manage/member/list/';" class="waves-effect btn-flat grey-text right">Discard</a>
            <div class="clearfix"></div>
        </div>
    </div>