﻿@model Member
@inject RequestHelper RequestHelper

@section CSS {
<style>
    .card .card-header {
        position: relative;
        height: 256px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFFFFF;
    }

    .card .card-header.light {
        color: #000000;
    }

    .card .card-header .card-left {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
    }

    .card .card-header .card-title {
        color: #FFFFFF;
    }

    .card .card-header.light .card-title {
        color: #000000;
    }

    .card .card-header .card-right {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
    }

    .card .card-header .card-avatar {
        margin: 10px 0;
        height: 150px;
        width: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
    }

    .btnEdit::-webkit-file-upload-button {
        display: none;
        opacity: 0;
    }

    .btnEdit {
        color: transparent;
        width: 2.5em;
        height: 2.5em;
        content: '';
        overflow: hidden;
        padding: 12px;
    }

    .btnEdit:focus {
        outline: 0;
    }

    .btnEdit::before {
        color: white;
        content: "\f040";
    }

    .overlay {
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    .collection li {
        width: 100%;
    }

    .collection .collection-item.avatar {
        min-height: 64px;
    }

    .collection .collection-item.avatar .title {
        font-size: 18px;
    }

    .collection .collection-item.avatar .title.middle {
        line-height: 42px;
    }
</style>
}

<div class="card" style="max-width: 1000px; margin:  25px auto;">
    <div id="Header" class="card-header" style="background-image: url(@Model.HeaderUrl.Or(Model.GetTeam() == null ? null : Model.GetTeam().HeaderUrl).Or("/images/defaultheader.jpg"));">
        <div class="card-left">
            <div class="card-avatar circle" style="background-image: url(@Model.ProfileAvatarUrl.Or("/images/profile/1.png"))">
            </div>
            <div class="card-title">@Model.ProfileName</div>
        </div>
        <div class="card-right">
            @if (ViewBag.allowEdit)
            {
                <a class="waves-effect waves-circle waves-light"><i class="white-text fa fa-pencil"></i></a>
            }
            else
            {
                <a class="waves-effect waves-circle waves-light"><i class="white-text fa fa-star"></i></a>

            }
        </div>
    </div>
    <div class="card-content">
        <div class="row">
                
        </div>
    </div>
</div>