﻿@model Event
@inject RequestHelper RequestHelper

@section CSS {
    <style>
        .card .card-header {
            position: relative;
            height: 256px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #FFFFFF;
        }

            .card .card-header.light {
                color: #000000;
            }

            .card .card-header .card-left {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 20px;
            }

            .card .card-header .card-title {
                color: #FFFFFF;
            }

            .card .card-header.light .card-title {
                color: #000000;
            }

            .card .card-header .card-right {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 20px;
            }

            .card .card-header .card-avatar {
                margin: 10px 0;
                height: 150px;
                width: 150px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-clip: padding-box;
            }

        .btnEdit::-webkit-file-upload-button {
            display: none;
            opacity: 0;
        }

        .btnEdit {
            color: transparent;
            width: 2.5em;
            height: 2.5em;
            content: '';
            overflow: hidden;
            padding: 12px;
        }

            .btnEdit:focus {
                outline: 0;
            }

            .btnEdit::before {
                color: white;
                content: "\f040";
            }

        .overlay {
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;
        }

        .collection li {
            width: 100%;
        }

        .collection .collection-item.avatar {
            min-height: 64px;
        }

        .collection .collection-item.avatar .title {
            font-size: 18px;
        }

        .collection .collection-item.avatar .title.middle {
            line-height: 42px;
        }

        .mdl-card__title-text {
            min-width: 100px;
        }

        .mdl-card__supporting-text {
            min-height: 32px;
            width: 100%;
        }
    </style>
}

@section JavaScript {
    <script>
        window.model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model == null ? new Event() { Id = Guid.Empty } : Model).Replace("</script>", "<\\/script>"));
        window.model.Data = JSON.parse(window.model.RawData) || {};

        window.model.Data.Brackets = window.model.Data.Brackets || [];

        window.updateModel = function()
        {
            window.model.RawData = JSON.stringify(window.model.Data);

            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(window.model),
                dataType: 'json',
                processData: false,
                type: 'POST',
                url: '/api/v1/member/' + window.model.Id + '/',
                success: function(r)
                {
                    if(r.success)
                    {
                        window.location = "/manage/member/list/";
                    }
                    else
                        alert(r.error);
                }
            });
        }

        function uploadImage(file, uploadComplete, progress)
        {
            uploadComplete = uploadComplete || function() { };
            progress = progress || function() { };
            var fileReader = new FileReader();
            fileReader.onload = function(e)
            {
                var xmlRequest = $.ajax({
                    xhr: function()
                    {
                        var xhr = new window.XMLHttpRequest();

                        xhr.upload.addEventListener("progress", function(evt)
                        {
                            if (evt.lengthComputable)
                                progress(evt.loaded / evt.total);
                        }, false);

                        return xhr;
                    },
                    url: "/api/v1/upload/image/",
                    method: "POST",
                    processData: false,
                    data: e.target.result,
                    contentType: file.type,

                    success: function(response)
                    {
                        uploadComplete(response);
                        progress(1);
                    }
                });
            };
            fileReader.readAsArrayBuffer(file);
        }

        function uploadImageUrl(url, uploadComplete, progress)
        {
            uploadComplete = uploadComplete || function() { };
            progress = progress || function() { };
            var xmlRequest = $.ajax({
                xhr: function()
                {
                    var xhr = new window.XMLHttpRequest();

                    xhr.upload.addEventListener("progress", function(evt)
                    {
                        if (evt.lengthComputable)
                            progress(evt.loaded / evt.total);
                    }, false);

                    return xhr;
                },
                url: "/api/v1/upload/image/",
                method: "POST",
                data: { url: url },

                success: function(response)
                {
                    uploadComplete(response);
                    progress(1);
                }
            });
        }
    </script>
}

@section FAB {
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="#Save" class="btn-floating btn-large green waves-effect waves-circle waves-light">
            <i class="large material-icons">check</i>
        </a>
        <ul>
            <li><a id="btnAddBracket" class="btn-floating blue waves-effect waves-circle waves-light">&#125;</a></li>
        </ul>

        <span class="mdl-tooltip" for="btnAddBracket">
            Add Bracket
        </span>
    </div>
}

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" contenteditable="true">@Model.Name.Or("Event Name")</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="input-field">
                <input id="ScheduledStart" type="datetime">
                <label for="ScheduledStart" class="">Scheduled Start</label>
            </div>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons blue-text">grade</i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Participating Teams</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul class="collection with-header">
                <li class="collection-item"><div><h4>Group A</h4><a href="#!" class="secondary-content"><i class="material-icons green-text">add</i></a></div></li>
                <li class="collection-item"><div>Team A<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
                <li class="collection-item"><div>Team B<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
                <li class="collection-item"><div>Team C<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
                <li class="collection-item"><div>Team D<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
            </ul>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Group B</h4></li>
                <li class="collection-item"><div>Team E<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
                <li class="collection-item"><div>Team F<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
                <li class="collection-item"><div>Team G<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
                <li class="collection-item"><div>Team H<a href="#!" class="secondary-content"><i class="material-icons red-text">remove</i></a></div></li>
            </ul>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons green-text">add</i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-cell  mdl-cell--12-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Group Stage, Group A Bracket</h2>
        </div>
        <div class="mdl-card__supporting-text bracket_panel"></div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell  mdl-cell--12-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Group Stage, Group B Bracket</h2>
        </div>
        <div class="mdl-card__supporting-text bracket_panel"></div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell  mdl-cell--12-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Finals Bracket</h2>
        </div>
        <div class="mdl-card__supporting-text bracket_panel"></div>
    </div>
</div>