﻿@{ Layout = null; }
<link href="~/css/material.min.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="~/js/material.min.js"></script>

<style>
    #errorMessage {
        color: red;
        font-size: 11px;
    }

    .mdl-textfield {
        margin: 0 8px;
    }
</style>

<script>
    window.handleAuthentication = function(origin, publicKey)
    {
        $('#origin').val(origin);
        $('#publicKey').val(publicKey);

        if (publicKey == null && (origin.startsWith("http://steamlobby.com") || origin.startsWith("https://steamlobby.com") || origin.startsWith("http://preview.steamlobby.com") || origin.startsWith("https://preview.steamlobby.com") || origin.startsWith("http://localhost:8561")))
        {
            $('.loading').fadeOut(400);
            window.authenticated = true;
        }

        return false;
    };

    window.doSignin = function()
    {
        if (!window.parentSource || !window.authenticated)
            return;

        $.post("/api/v1/signin/", $('form').serialize(), function(response)
        {
            $('.loading').fadeOut(400);
            window.parentSource.postMessage({ type: "signinResponse", response: response }, $('#origin').val());

            if (response.success)
            {
                $('#email').val("");
                $('#password').val("");
            }
            else
                $('#errorMessage').text(response.message)
        });
    };

    window.showSignup = function()
    {
        if (!window.parentSource || !window.authenticated)
            return;

        window.parentSource.postMessage({ type: "showSignup" }, $('#origin').val());
    }

    window.hideSignin = function()
    {
        if (!window.parentSource || !window.authenticated)
            return;

        window.parentSource.postMessage({ type: "hideSignin" }, $('#origin').val());
    }

    window.handleMessage = function(event)
    {
        parentSource = event.source;

        if (event.data && event.data.type === "auth")
            window.handleAuthentication(event.origin, event.data.publicKey);
    };

    window.parentSource = null;
    window.authenticated = false;

    window.addEventListener("message", window.handleMessage, false);
</script>
<div class="flex" style="height: 100%;">
    <span class="fill"></span>
    <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col" style="max-width: 500px">
        <div class="mdl-card__title" style="background-color: #263238; color: #eceff1;">
            <h2 class="mdl-card__title-text">Sign In</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form>
                @Html.AntiForgeryToken()
                <input type="hidden" id="publicKey" name="publicKey" value="" />
                <input type="hidden" id="origin" name="origin" value="" />
                <div class="mdl-grid" style="margin-right: 32px; width: 100%;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
                        <input class="mdl-textfield__input" type="email" id="email" name="email" />
                        <label class="mdl-textfield__label" for="email">Email</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
                        <input class="mdl-textfield__input" type="password" id="pasword" name="password" />
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                </div>
            </form>
            <div class="center-text" id="errorMessage"></div>
        </div>
        <div class="mdl-card__actions mdl-card--border flex">
            <a onclick="window.showSignup();" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">Sign Up</a>
            <span class="fill"></span>
            <a onclick="window.doSignin();" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Sign In</a>
        </div>
        <div class="mdl-card__menu">
            <button onclick="window.hideSignin();" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                <i class="material-icons">close</i>
            </button>
        </div>
    </div>
    <span class="fill"></span>
</div>