﻿@{ Layout = null; }

<link href="~/css/material.min.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="~/js/jquery.maskedinput.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/js/material.min.js"></script>
<script src="~/js/steamlobby/language.js"></script>
<script src="~/js/steamlobby/validation.js"></script>

<style>
    .mdl-textfield {
        margin: 0 8px;
    }

    #signupForm {
        display: none;
    }

    .mdl-textfield--floating-label.force-dirty .mdl-textfield__label {
        color: #3f51b5;
        font-size: 12px;
        top: 4px;
        visibility: visible;
    }
</style>

<script>
    window.handleAuthentication = function(origin, publicKey)
    {
        $('#origin').val(origin);
        $('#publicKey').val(publicKey);

        if (publicKey == null && (origin.startsWith("http://steamlobby.com") || origin.startsWith("https://steamlobby.com") || origin.startsWith("http://preview.steamlobby.com") || origin.startsWith("https://preview.steamlobby.com") || origin.startsWith("http://localhost:8561")))
        {
            $('.loading').fadeOut(400);
            window.authenticated = true;
        }

        return false;
    };

    window.createSession = function()
    {
        if (!window.parentSource || !window.authenticated)
            return;

        $.post("/api/v1/signup/session/", $('#signupSessionForm form').serialize(), function(response)
        {
            if(response.success)
            {
                $('#signupSessionForm').fadeOut(400, function() { $('#signupForm').fadeIn(400); });
                $('#signupSessionKey').val(response.response)
                window.signupSessionKey = response.response;
            }
        });
    }

    window.doSignup = function()
    {
        if (!window.parentSource || !window.authenticated)
            return;

        $('.loading').fadeIn(400);
        $.post("/api/v1/signup/", $('#signupForm form').serialize(), function(response)
        {
            $('.loading').fadeOut(400);
            window.parentSource.postMessage({ type: "signupResponse", response: response }, $('#origin').val());

            if (response.success)
            {
                $('#signupSessionKey').val("");
                $('#email').val("");
                $('#password').val("");
                $('#country').val("");
                $('#profileId').val("");
                $('#profileName').val("");
                $('#profileBirthday').val("");
                $('#signupForm').fadeOut(400, function() { $('#signupSessionForm').fadeIn(400); });
            }
            else if(response.error == "FAIL_VALIDATION")
            {
                for (id in response.validationResults)
                    window.handleValidationResponse($('#' + id), { success: response.validationResults[id] == "SUCCESS" ? true : false, validationResult: response.validationResults[id] });
            }
        });
    }

    window.showSignin = function()
    {
        if (!window.parentSource || !window.authenticated)
            return;

        window.parentSource.postMessage({ type: "showSignin" }, $('#origin').val());
    }

    window.hideSignup = function()
    {
        if (!window.parentSource || !window.authenticated)
            return;

        window.parentSource.postMessage({ type: "hideSignup" }, $('#origin').val());
    }

    window.handleMessage = function(event)
    {
        if (event.origin.startsWith("https://www.google.com"))
            return;
        
        parentSource = event.source;

        if (event.data && event.data.type === "auth")
            window.handleAuthentication(event.origin, event.data.publicKey);
    };

    window.parentSource = null;
    window.authenticated = false;

    window.addEventListener("message", window.handleMessage, false);

    $(function()
    {
        $("#profileBirthday").mask("99/99/9999", { placeholder: "mm/dd/yyyy" });
        $('input').change(function()
        {
            window.runValidation($(this));
        });

        $('#profileBirthday').blur(function()
        {
            if ($(this).val())
                $(this).parent().addClass('force-dirty');
            else
                $(this).parent().removeClass('force-dirty');
        });
    });
</script>

<div id="signupSessionForm" class="flex" style="height: 100%;">
    <span class="fill"></span>
    <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col" style="max-width: 500px">
        <div class="mdl-card__title" style="background-color: #263238; color: #eceff1;">
            <h2 class="mdl-card__title-text">Sign Up</h2>
        </div>
        <div class="mdl-card__supporting-text" style="width: 100%;">
            <form>
                <div class="flex">
                    <span class="fill"></span>
                    <div class="g-recaptcha" data-theme="light" data-callback="createSession" data-sitekey="@Application.Configuration.Get("recaptcha:siteKey")"></div>
                    <span class="fill"></span>
                </div>
            </form>
            <div class="center-text" id="errorMessage"></div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a onclick="window.showSignin();" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">Sign In</a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                <i class="material-icons">close</i>
            </button>
        </div>
    </div>
    <span class="fill"></span>
</div>

<div id="signupForm" class="flex" style="height: 100%;">
    <span class="fill"></span>
    <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col" style="max-width: 500px">
        <div class="mdl-card__title" style="background-color: #263238; color: #eceff1;">
            <h2 class="mdl-card__title-text">Sign Up</h2>
        </div>
        <div class="mdl-card__supporting-text" style="width: 100%;">
            <form>
                @Html.AntiForgeryToken()
                <input type="hidden" id="publicKey" name="publicKey" value="" />
                <input type="hidden" id="origin" name="origin" value="" />
                <input type="hidden" id="signupSessionKey" name="signupSessionKey" value="" />
                <div class="mdl-grid" style="margin-right: 32px;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop">
                        <input class="mdl-textfield__input" type="email" id="email" name="email" />
                        <label class="mdl-textfield__label" for="email">Email</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop mdl-cell--top">
                        <input class="mdl-textfield__input" type="password" id="password" name="password" />
                        <label class="mdl-textfield__label" for="password">Password</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop mdl-cell--top">
                        <input class="mdl-textfield__input" type="text" id="country" name="country" />
                        <label class="mdl-textfield__label" for="country">Country</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop mdl-cell--top">
                        <input class="mdl-textfield__input" type="text" id="profileId" name="profileId" />
                        <label class="mdl-textfield__label" for="profileId">Profile Id</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop mdl-cell--top">
                        <input class="mdl-textfield__input" type="text" id="profileName" name="profileName" />
                        <label class="mdl-textfield__label" for="profileName">Name</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop mdl-cell--top">
                        <input class="mdl-textfield__input" type="text" id="profileBirthday" name="profileBirthday" />
                        <label class="mdl-textfield__label" for="profileBirthday">Birthday</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                </div>
            </form>
            <div class="center-text" id="errorMessage"></div>
        </div>
        <div class="mdl-card__actions mdl-card--border flex">
            <a onclick="window.showSignin();" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">Sign In</a>
            <span class="fill"></span>
            <a onclick="window.doSignup();" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Sign Up</a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                <i class="material-icons">close</i>
            </button>
        </div>
    </div>
    <span class="fill"></span>
</div>