﻿@{
    var contentForceReload = this.ViewData["content-force-reload"] == null ? false : (bool)this.ViewData["content-force-reload"];
    var requestedResponse = Context.Request.Query.ContainsKey("requestedResponse") ? Context.Request.Query["requestedResponse"] : "all";
}

@inject Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration TelemetryConfiguration
@inject RequestHelper RequestHelper

@if (requestedResponse == "all" || contentForceReload)
{
    <!DOCTYPE html>
    <html lang="en" ng-app="SteamLobby">
    <head>

        <!-- Meta -->
        <meta name="theme-color" content="#263238">
        <meta charset="utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SteamLobby</title>

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico">

        @RenderSection("PreCSS", false)
        <link href="~/css/material.min.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/css/selectize.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        @RenderSection("CSS", false)
        @RenderSection("PostCSS", false)

        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body class="mdl-color--grey-200">
        <div class="preload blue-grey darken-4">
            <img class="logo" src="/images/branding/logo-txt-2x.png" />
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>

        <div class="body-overlay"></div>

        <div class="main-header">
            <a onclick="$('.sidenav').addClass('open');" class="hide-on-large-only icon-menu"><i class="material-icons">menu</i></a>
            <div class="inner">
                <span class="title">Home</span>
                <div class="spacer"></div>
                <a class="waves-effect waves-circle icon-button">
                    <i class="material-icons">more_vert</i>
                </a>
            </div>
        </div>

        <div class="sidenav">
            <header>
                <a href="/"><img src="~/images/branding/logo-txt-2x.png" class="logo" /></a>
                <div class="line-spacer"></div>
                @if (RequestHelper.Member != null)
                {
                <div class="memberinfo">
                    <img src="@RequestHelper.Member.ProfileAvatarUrl.Or("/images/profile/1.png")" class="avatar circle" title="" style="">
                    <div class="display">
                        <div class="member-dropdown">
                            <span>@RequestHelper.Member.ProfileName</span>
                            <div class="spacer"></div>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="memberActions">
                                <li class="mdl-menu__item" onclick="window.location = '/member/@RequestHelper.Member.ProfileId/edit/'">Edit My Profile</li>
                                <li class="mdl-menu__item" onclick="window.doSignout();">Sign Out</li>
                            </ul>
                            <a id="memberActions"><i class="dropdown-button material-icons" data-activates="member-dropdown">arrow_drop_down</i></a>
                        </div>
                        <div class="email">@RequestHelper.Member.Email</div>
                    </div>
                </div>
                }
                else
                {
                <div class="signin-buttons flex">
                    <span class="fill"></span>
                    <button onclick="window.showSignin();" class="mdl-button mdl-js-button mdl-button--primary">Sign In</button>
                    <span class="fill"></span>
                    <button onclick="window.showSignup();" class="mdl-button mdl-js-button mdl-button--accent">Sign Up</button>
                    <span class="fill"></span>
                </div>
                }
            </header>
            <nav>
                <a href="/"><i class="material-icons">home</i>Home</a>
                <a href="/"><i class="fa fa-crosshairs"></i>Matches</a>
                <a href="/"><i class="fa fa-gamepad"></i>Play</a>
            </nav>
        </div>

        

        <main>
            @RenderBody()
        </main>

        @RenderSection("FAB", false)
        @RenderSection("Modals", false)

        @RenderSection("PreJavaScript", false)
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="~/js/selectize.js"></script>
        <script src="~/js/material.min.js"></script>
        <script src="~/js/materialize.js"></script>
        <script src="~/js/dynamiclass.js"></script>
        <script src="~/js/main.js"></script>
        @RenderSection("JavaScript", false)
        @RenderSection("PostJavaScript", false)
        @*<script src="~/js/navigation.js"></script>*@
    </body>
</html>
}
else if (requestedResponse == "content")
{
    @RenderSection("CSS", false)
    @RenderSection("PostCSS", false)
    @RenderBody()
    @RenderSection("JavaScript", false)
    @RenderSection("PostJavaScript", false)
}