﻿@using System.Reflection;
@model SteamLobby.Web.ListModel
@{
    Layout = "~/Layouts/default.cshtml";
    var modelProperties = Model.Items.GetType().GetGenericArguments().FirstOrDefault().GetProperties().Where(e => e.GetCustomAttribute<SteamLobby.Web.ListTableAttribute>() != null).Select(property => new { property, listTableAttribute = property.GetCustomAttribute<SteamLobby.Web.ListTableAttribute>() }).OrderBy(e => e.listTableAttribute.Position);
}

<table class="hoverable white" style="max-width: 1000px; margin: 25px auto;">
    <thead>
        <tr>
            @foreach (var listItemModel in modelProperties) { <th data-field="@listItemModel.property.Name">@listItemModel.listTableAttribute.Display</th> }
            @if(Model.DeleteLink != null) { <th data-field="_delete"></th> }
            @if(Model.EditLink != null) { <th data-field="_edit"></th> }
        </tr>
    </thead>

    <tbody>
        @foreach (var modelObject in Model.Items)
        {
            <tr>
                @foreach (var listItemModel in modelProperties) { <td data-field="@listItemModel.property.Name">@string.Format(listItemModel.listTableAttribute.Format, listItemModel.property.GetValue(modelObject))</td> }
                @if(Model.DeleteLink != null) { <td data-field="_delete"><a href="@string.Format(Model.DeleteLink, modelObject.Id)">Delete</a></td> }
                @if(Model.EditLink != null) { <td data-field="_edit"><a href="@string.Format(Model.EditLink, modelObject.Id)">Edit</a></td> }
            </tr>
        }
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
        </tr>
    </tbody>
</table>