﻿@inject RequestHelper RequestHelper

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--top mdl-cell--7-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url(http://images.gameskinny.com/gameskinny/4b43776c96ebf3188cd9d92e5f7994e3.jpg);  background-size: cover; height: 200px;">
            <h2 class="mdl-card__title-text">Test Article</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>Etiam ut mauris eget odio gravida tincidunt. Duis viverra libero vel fermentum varius. Maecenas sed nisl ac odio pharetra tempor. Integer eu augue fringilla, pretium quam sit amet, molestie augue. Integer non feugiat nunc. Proin non consectetur nisl. Nullam convallis, massa sagittis dictum blandit, sem velit pharetra ante, ullamcorper egestas lectus nibh eget mi. Nullam enim quam, volutpat vel nisl eget, hendrerit eleifend sem. Suspendisse lobortis a nisi a sagittis. Morbi in quam volutpat, ullamcorper metus a, tincidunt leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
    </div>
        @*<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-desktop">
                <div class="slider">
                    <ul class="slides">
                        <li style="background-image: url(http://www.eswc.com/public/images/2015/live/montreal/eswc-montreal-16-9.jpg); background-size: cover; background-position-y: center">

                        </li>
                        <li style="background-image: url(http://cdn2.esl.tv/fileadmin/templates/propage2/proleague/csgo/images/season2/stage_bg_3.jpg); background-size: cover;">
                            <div style="width: 60%; height: 100%; margin: auto; background-image: url(http://cdn2.esl.tv/fileadmin/templates/propage2/proleague/csgo/images/season2/header_logo.png); background-size: contain; background-repeat: no-repeat; background-position: center;  background-clip:content-box;"></div>
                        </li>
                        <li>
                            <img src="http://images.gameskinny.com/gameskinny/4b43776c96ebf3188cd9d92e5f7994e3.jpg">
                        </li>
                    </ul>
                </div>
            </div>*@
    <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet expandable-container">
        <div style="margin-bottom: 16px;">
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header" style="height: 56px; background-image: url(https://cdn0.gamesports.net/storage/69000/69777.jpg); background-size: cover; background-position: center; color: #FFF;">&nbsp;</div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header flex" style="padding: 8px;">
                    <span class="fill"></span>
                    <div class="flex">
                        <img class="circle" style="width: 32px;" src="https://pbs.twimg.com/profile_images/576428586216742912/G6At1OrH.png" />
                        <span style="margin: 0 8px; font-weight: bold;">Luminosity</span>
                        <span class="fill center-text" style="margin: 0 16px;">vs</span>
                        <span style="margin: 0 8px; font-weight: bold;">NiP</span>
                        <img class="circle" style="width: 32px;" src="https://yt3.ggpht.com/-K81FVqMiPmY/AAAAAAAAAAI/AAAAAAAAAAA/xKcWNsVRi5g/s900-c-k-no/photo.jpg" />
                    </div>
                    <span class="fill"></span>
                    <span class="col s4 center-text" style="padding:0;">TBD</span>
                </div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header flex" style="padding: 8px;">
                    <span class="fill"></span>
                    <div class="flex">
                        <img class="circle" style="width: 32px;" src="https://pbs.twimg.com/profile_images/576428586216742912/G6At1OrH.png" />
                        <span style="margin: 0 8px; font-weight: bold;">Luminosity</span>
                        <span class="fill center-text" style="margin: 0 16px;">vs</span>
                        <span style="margin: 0 8px; font-weight: bold;">NiP</span>
                        <img class="circle" style="width: 32px;" src="https://yt3.ggpht.com/-K81FVqMiPmY/AAAAAAAAAAI/AAAAAAAAAAA/xKcWNsVRi5g/s900-c-k-no/photo.jpg" />
                    </div>
                    <span class="fill"></span>
                    <span class="col s4 center-text" style="padding:0;">TBD</span>
                </div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header flex" style="padding: 8px;">
                    <span class="fill"></span>
                    <div class="flex">
                        <img class="circle" style="width: 32px;" src="https://pbs.twimg.com/profile_images/576428586216742912/G6At1OrH.png" />
                        <span style="margin: 0 8px; font-weight: bold;">Luminosity</span>
                        <span class="fill center-text" style="margin: 0 16px;">vs</span>
                        <span style="margin: 0 8px; font-weight: bold;">NiP</span>
                        <img class="circle" style="width: 32px;" src="https://yt3.ggpht.com/-K81FVqMiPmY/AAAAAAAAAAI/AAAAAAAAAAA/xKcWNsVRi5g/s900-c-k-no/photo.jpg" />
                    </div>
                    <span class="fill"></span>
                    <span class="col s4 center-text" style="padding:0;">TBD</span>
                </div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
        </div>
        <div>
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header" style="height: 56px; background-image: url(https://cdn0.gamesports.net/storage/69000/69777.jpg); background-size: cover; background-position: center; color: #FFF;">&nbsp;</div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header flex" style="padding: 8px;">
                    <span class="fill"></span>
                    <div class="flex">
                        <img class="circle" style="width: 32px;" src="https://pbs.twimg.com/profile_images/576428586216742912/G6At1OrH.png" />
                        <span style="margin: 0 8px; font-weight: bold;">Luminosity</span>
                        <span class="fill center-text" style="margin: 0 16px;">vs</span>
                        <span style="margin: 0 8px; font-weight: bold;">NiP</span>
                        <img class="circle" style="width: 32px;" src="https://yt3.ggpht.com/-K81FVqMiPmY/AAAAAAAAAAI/AAAAAAAAAAA/xKcWNsVRi5g/s900-c-k-no/photo.jpg" />
                    </div>
                    <span class="fill"></span>
                    <span class="col s4 center-text" style="padding:0;">TBD</span>
                </div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header flex" style="padding: 8px;">
                    <span class="fill"></span>
                    <div class="flex">
                        <img class="circle" style="width: 32px;" src="https://pbs.twimg.com/profile_images/576428586216742912/G6At1OrH.png" />
                        <span style="margin: 0 8px; font-weight: bold;">Luminosity</span>
                        <span class="fill center-text" style="margin: 0 16px;">vs</span>
                        <span style="margin: 0 8px; font-weight: bold;">NiP</span>
                        <img class="circle" style="width: 32px;" src="https://yt3.ggpht.com/-K81FVqMiPmY/AAAAAAAAAAI/AAAAAAAAAAA/xKcWNsVRi5g/s900-c-k-no/photo.jpg" />
                    </div>
                    <span class="fill"></span>
                    <span class="col s4 center-text" style="padding:0;">TBD</span>
                </div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
            <div class="mdl-card mdl-shadow--2dp expandable">
                <div class="header flex" style="padding: 8px;">
                    <span class="fill"></span>
                    <div class="flex">
                        <img class="circle" style="width: 32px;" src="https://pbs.twimg.com/profile_images/576428586216742912/G6At1OrH.png" />
                        <span style="margin: 0 8px; font-weight: bold;">Luminosity</span>
                        <span class="fill center-text" style="margin: 0 16px;">vs</span>
                        <span style="margin: 0 8px; font-weight: bold;">NiP</span>
                        <img class="circle" style="width: 32px;" src="https://yt3.ggpht.com/-K81FVqMiPmY/AAAAAAAAAAI/AAAAAAAAAAA/xKcWNsVRi5g/s900-c-k-no/photo.jpg" />
                    </div>
                    <span class="fill"></span>
                    <span class="col s4 center-text" style="padding:0;">TBD</span>
                </div>
                <div class="body center-text">
                    <h5>ESL ESEA Pro League Finals</h5>
                    <blockquote>
                        July 2nd 2015 through July 5th 2015 EST
                    </blockquote>
                    <p><a href="#">Event Page</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Watch Live</a></p>
                </div>
            </div>
        </div>
    </div>
</div>