﻿@using System.Reflection;
@model ListModel
@{
    var modelProperties = Model.Items.GetType().GetGenericArguments().FirstOrDefault().GetProperties().Where(e => e.GetCustomAttribute<SteamLobby.Web.ListTableAttribute>() != null).Select(property => new { property, listTableAttribute = property.GetCustomAttribute<SteamLobby.Web.ListTableAttribute>() }).OrderBy(e => e.listTableAttribute.Position);
}

@section FAB {
    @if (Model.CreateLink != null)
    {
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a href="@Model.CreateLink" class="btn-floating btn-large blue waves-effect waves-circle waves-light">
                <i class="large material-icons">add</i>
            </a>
        </div>
    }
}

<div class="row">
<table class="hoverable white full">
    <thead>
        <tr>
            @foreach (var listItemModel in modelProperties) { <th class="@listItemModel.listTableAttribute.ThClass" data-field="@listItemModel.property.Name">@listItemModel.listTableAttribute.Display</th> }
            @if(Model.EditLink != null || Model.DeleteLink != null) { <th data-field="_edit"></th> }
        </tr>
    </thead>

    <tbody>
        @foreach (var modelObject in Model.Items)
        {
            <tr>
                @foreach (var listItemModel in modelProperties) { <td class="@listItemModel.listTableAttribute.TdClass" data-field="@listItemModel.property.Name">@(listItemModel.listTableAttribute.Raw ? Html.Raw(string.Format(listItemModel.listTableAttribute.Format, listItemModel.property.GetValue(modelObject))) : new HtmlString(Html.Encode(string.Format(listItemModel.listTableAttribute.Format, listItemModel.property.GetValue(modelObject)))))</td> }
                @if (Model.EditLink != null || Model.DeleteLink != null)
                {
                    <td class="right" data-field="_edit">
                        @if(Model.DeleteLink != null) { <a class="waves-effect waves-circle" href="@string.Format(Model.DeleteLink, modelObject.Id)"><i class="fa fa-trash red-text"></i></a> }
                        @if(Model.EditLink != null) { <a class="waves-effect waves-circle" href="@string.Format(Model.EditLink, modelObject.Id)"><i class="fa fa-pencil green-text"></i></a> }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
</div>
<div class="row">
    <div class="col s12 pagination center">
        @if (Model.CurrentPage <= 0) { <div class="disabled"><a><i class="material-icons">chevron_left</i></a></div> }
        else { <div class="waves-effect"><a href="./@Model.CurrentPage"><i class="material-icons">chevron_left</i></a></div> }
        @for (var page = (Model.CurrentPage > 5 ? Model.CurrentPage - 4 : 1); page <= Model.CurrentPage; page++) { <div class="waves-effect"><a href="./@page">@page</a></div> }
        <div class="active"><a>@(Model.CurrentPage + 1)</a></div>
        @for (var page = Model.CurrentPage + 2; page <= (Model.CurrentPage + 6 > Model.TotalPages ? Model.TotalPages : Model.CurrentPage + 6); page++) { <div class="waves-effect"><a href="./@page">@page</a></div> }
        @if (Model.CurrentPage + 1 >= Model.TotalPages) { <div class="disabled"><a><i class="material-icons">chevron_right</i></a></div> }
        else { <div class="waves-effect"><a href="./@(Model.CurrentPage + 2)"><i class="material-icons">chevron_right</i></a></div> }
    </div>
</div>