﻿body {
    font-family: 'Roboto', sans-serif;
}

.preload {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999;

    background: #FAFAFA;

    text-align: center;
}

.preload .logo {
    padding: 16px;
    max-width: 432px;
    width: 100%;
    margin-top: 100px;
}

.preload .mdl-spinner {
    position: fixed;
    bottom: 20%;
    left: 50%;
    margin-left: -16px;
    
}

.collapsible-header {
    height: auto !important;
}

.collapsible.popout>li {
    background: white;
}

th.logo {
    width: 40px;
}

.icon-button {
    color: inherit;
}

.icon-button i {
    margin-top: 6px;
}

.main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 888;
    background-color: white;
    color: #757575;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.main-header .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 0 40px 0 80px;

    width: 100%;
    height: 100%;
}

.main-header .title {
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
}

.main-header .icon-menu {
    color: #37474f;
    margin-left: 8px;
    margin-top: 3px;
    display: none;
}

main, footer, .main-header {
    padding-left: 240px;
}

main {
    margin-top: 64px;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

.center-text {
    text-align: center;
}


/* Side Nav */
.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 240px;
    height: 100%;
    height: calc(100% + 60px);
    will-change: left;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;

    background-color: #37474f;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.sidenav header {
    padding: 16px;

    background-color: #263238;
    color: #eceff1;
}

.sidenav header a {
    color: #eceff1;
}

.sidenav header .logo {
    width: 100%;
}

.memberinfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.signin-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 13px;
}

.signin-buttons a {
    -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
}

.sidenav header .line-spacer {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);

    margin: 16px 0;
}

.sidenav header .memberinfo .avatar {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.sidenav header .memberinfo .display {
    display: inline-block;
}

.sidenav header .memberinfo .email {
    font-size: 12px;
}

.sidenav header .memberinfo .member-dropdown {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
}

.spacer {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
}

.sidenav nav {
    padding-top: 16px;
    height: auto;
    background-color: #37474f;
    line-height: initial;
    box-shadow: none;
}

.sidenav nav a {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    height: auto;
    padding: 16px 40px;
    color: rgba(255, 255, 255, 0.56);

    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}

.sidenav nav a:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.sidenav nav a i {
    font-size: 24px;
    margin-right: 32px;
    color: #78909c;
}

a {
    cursor: pointer;
}

main {
    margin-top: 64px;
}

.card.full, table.full {
    margin: 16px auto;
    max-width: 1000px;
}

@media only screen and (max-width : 1290px) {
    .card.full, table.full {
        margin: 16px;
        max-width: calc(100% - 32px);
    }
}

@media only screen and (max-width : 992px) {
    .main-header, main, footer {
        padding-left: 0;
    }

    main {
        margin-top: 64px;
    }

    .card.full, table.full {
        margin: 0 auto;
        max-width: initial;
    }

    .sidenav {
        -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        transform: translateX(-250px);
    }

    .body-overlay.visible {
        background-color: rgba(0,0,0,.5);
        display: block;
    }
    
    .main-header .icon-menu {
        display: initial;
    }
}

.sidenav.open {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.body-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 989;

    background-color: none;
    display: none;

    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

/* Tables */
table, th, td {
    border: none;
}

table {
    width: 100%;
    display: table;
}

table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table.striped > tbody > tr > td {
    border-radius: 0px;
}

table.hoverable > tbody > tr {
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

table.hoverable > tbody > tr:hover {
    background-color: #f2f2f2;
}

table.centered thead tr th, table.centered tbody tr td {
    text-align: center;
}

thead {
    border-bottom: 1px solid #d0d0d0;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

table.hoverable > tbody > tr {
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

table.hoverable > tbody > tr:hover {
    background-color: #f2f2f2;
}

/* Flex Row */
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.flex.center:before {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    content: '';
}

.flex.center:after {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    content: '';
}


.flex .fill {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex fill {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    content: '';
}

.flex.vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.flex.vertical.start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
}

.flex.vertical.end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
}

.flex.vertical.end {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
}

.flex.vertical.fill:before {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    content: '';
}

.flex.vertical.fill:after {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    content: '';
}


.flex.vertical .fill {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex.vertical fill {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    content: '';
}

/* Dialog */
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: transparent;
    display: none;

    -webkit-transition-property: background-color;
    transition-property:  background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.dialog:before, .dialog:after {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    content: '';
}

.dialog.visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    cursor: pointer;

    background-color: rgba(0,0,0,.5);
}

/* Misc */
.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle {
    border-radius: 50%;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ee6e73;
    font-size: 12px;
}

blockquote:before, blockquote:after {
    content: none;
}

.full {
    width: 100%;
}

.mdl-card.expandable {
    min-height: 32px;
    border-radius: 0px;
    width: calc(100% - 32px);
    margin: 0 16px;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: auto;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: all;
}

.mdl-card .header {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.mdl-card.expanded .header {
    border-bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-card .body {
    display: none;
}

.mdl-card.expanded {
    border-radius: 2px;
    margin: 16px 0;
    width: 100%;
}

.mdl-card.expanded .body {
    display: block;
}

.expandable:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.expandable:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}